// ==============================
// VARIABLES FOR ALL LAYOUT
// ==============================

// WIDTH of containers and wrappers for all layout sections
$section-content-container: 1600px;
$inner-centering-wrapper: 1172px;

// z-index base step
$zx: 10;

// color
$clr-text-light: #fffcf4;
$clr-text-accent: #1DDE85;
$clr-slider-border: #4a494a;

// font-weight
$fw-t: 100;
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-blk: 900;