// ==============================
// VARIABLES FOR ALL LAYOUT
// ==============================

// WIDTH of containers and wrappers for all layout sections
$section-content-container: 1600px;
$inner-centering-wrapper: 1170px;

// z-index base step
$zx: 10;

// COLORS of text
$clr-text-light: #fffcf4;
$clr-text-accent: #1dde85;
$clr-text-main: #454546;
$clr-text-secondary: #8f8e91;

// COLORS of border
$clr-slider-border: #4a494a;
$clr-border-accent: #1dde85;
$clr-border-main: #454546;
$clr-border-secondary: #8f8e91;

// COLORS of element's background
$clr-section-bg-light: #fffcf4;
$clr-bg-button: #1dde85;
$clr-bg-accent: #1dde85;

// font-weight
$fw-t: 100;
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-blk: 900;