// HEADER
$height-header: 803px;
$height-header-wrapper: 119px;

.header {
  // ==============================
  &__content-container {
    position: relative;
    width: $section-content-container;
    height: $height-header;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/bg_header.png');
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      z-index: $zx;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  // ==============================
  &-wrapper {
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: $zx * 2;
    height: $height-header-wrapper;
    width: $inner-centering-wrapper;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

    &__logo {

      &-part:first-child {
        @include font-roboto(40px, $fw-r, 40px);
        letter-spacing: -2px;
        color: $clr-text-light;
      }
    
      &-part:last-child {
        @include font-pacifico(40px, $fw-r, 40px);
        letter-spacing: -1px;
        text-transform: uppercase;
        color: $clr-text-accent;
      }
    }

    &__nav {
      margin-left: auto;
    }

    &-menu {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;

      &__item {
        margin-right: 45px;
      }

      &__item:last-child {
        margin-right: 90px;
      }

      &__link {
        display: block;
        border-bottom: 1px solid transparent;
        @include font-roboto(14px, $fw-l, 36px);
        text-transform: uppercase;
        text-decoration: none;
        color: $clr-text-light;

        &:hover {
          border-bottom: 1px solid $clr-text-accent;
          color: $clr-text-accent;
        }

        &--active {
          border-bottom: 1px solid $clr-text-accent;
          color: $clr-text-accent;
        }
      }
    }
  }

  // ==============================
  &-slider {
    display: flex;
    position: relative;
    z-index: 20;
    height: ($height-header - $height-header-wrapper - 1px);
    border-top: 1px solid $clr-slider-border;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $clr-text-light;

    &__title {
      margin-top: 0;
      margin-bottom: 32px;
      padding-left: 15px;
      padding-right: 15px;
      @include font-exo(48px, $fw-r, 50px);
      text-transform: capitalize;
    }

    &__span {
      font-weight: $fw-blk;
      text-transform: uppercase;
      color: $clr-text-accent;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
      @include font-roboto(18px, $fw-l, 36px);
      text-align: center;
    }
  }
}